/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
    border: solid 0px blue;
    background-image: url(../img/fundo.jpg);
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

*{
    margin:0;
    padding:0;
}

/* MENU */
.navbar-fixed-top {
    margin:1.5% 0 0 0;
    padding: 0.5% 0 0.5% 0;
    background-color: #f0ad4e;
    background: rgba(225,169,0,0.6);
    border:solid 0px yellow;
}

.navbar-left {
    width: 100%;
    margin-left: 0%;
    border:solid 0px red;
}

a:hover, a:visited, a{
   text-decoration: none;
}

.menu_esquerda {
    float:left;
    width: 30%;
    margin-top:3%;
    border:solid 0px blue;
}
.texto_menu1 {
    float: left;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    font-weight: 700;
    border: solid 0px red;
}

.logoIndex .logo{
    float:left;
    width: 18%;
    margin: 0% 0 0 11%;
    border:solid 0px yellow;
}

.menu_direita {
    float:left;
    width: 30%;
    margin:3% 0 0 11%;
    border:solid 0px blue;
}
.texto_menu2 {
    float: right;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    font-weight: 700;
    border: solid 0px red;
}

.menu_esquerda > li > a:hover{
    color: red;
    border-bottom: 0px solid #008ed6;
}
.menu_direita > li > a:hover{
    color: red;
    border-bottom: 0px solid #008ed6;
}
/*.texto_menu1, .texto_menu2>a:active{
    color: red !important;
    border-bottom: 0px solid #008ed6;
}*/


/* IMAGEM PORTFOLIO */
.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* CONTAINER PARTE BODY */
.container {
    border:solid 0px red;
}

/* Home Page Carousel */
header.carousel {
    margin: 7.2% 0 0 0;
    height: 65%;
    border:solid 0px red;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border:solid 0px red;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

/*CONFIGURAÇÕES TABLET LANDSCAPE*/

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }

    /* MENU */
    .navbar-fixed-top {
        width: 100%;
        margin:1.5% 0 0 0;
        background-color: #f0ad4e;
        background: rgba(225,169,0,0.6);
        border:solid 0px blue;
    }
    .navbar-left {
        float:left;
        width: 100%;
        margin-left: 0%;
        border:solid 0px yellow;
    }

    .menu_esquerda {
        float:left;
        width: 25%;
        margin:7% 0 0 0%;
        border:solid 0px blue;
    }
    .texto_menu1 {
        float: left;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        transition: all .5s ease 0s;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        -ms-transition: all .5s ease 0s;
        margin:0px 0px 0px 0px;
        font-weight: 700;
        border: solid 0px red;
    }

    .logoIndex .logo{
        float:left;
        width: 40%;
        margin: 0% 0 0 5%;
        border:solid 0px yellow;
    }

    .menu_direita {
        float: left;
        width: 25%;
        margin: 7% 0 0 4.8%;
        border: solid 0px blue;
    }
    .texto_menu2 {
        float: right;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        transition: all .5s ease 0s;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        -ms-transition: all .5s ease 0s;
        margin:0px 0px 0px 0px;
        font-weight: 700;
        border: solid 0px red;
    }

    .menu_esquerda>li>a:hover{
        color: red;
        border-bottom: 0px solid #008ed6;
    }
    .menu_direita>li>a:hover{
        color: red;
        border-bottom: 0px solid #008ed6;
    }

    /* CAROUSEL */
    header.carousel {
        margin: 12.5% 0 0 0;
        height: 65%;
        border:solid 1px red;
    }
}

/* CONFIGURAÇÕES */
@media screen and (max-width: 58em) {
    /* MENU */
    .navbar-fixed-top {
        width: 100%;
        margin:1.5% 0 0 0;
        background-color: #f0ad4e;
        background: rgba(225,169,0,0.6);
        border:solid 0px blue;
    }

    .navbar-left {
        width: 100%;
        margin-left: 0%;
        border:solid 0px yellow;
    }

    .menu_esquerda {
        float:left;
        width: 27%;
        margin-top:5%;
        border:solid 0px blue;
    }
    .texto_menu1 {
        float: left;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        transition: all .5s ease 0s;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        -ms-transition: all .5s ease 0s;
        margin:0px 0px 0px 0px;
        font-weight: 700;
        border: solid 0px red;
    }

    .logoIndex .logo{
        float:left;
        width: 28%;
        margin: 0% 0 0 8%;
        border:solid 0px yellow;
    }

    .menu_direita {
        float:left;
        width: 30%;
        margin:5% 0% 0 7%;
        border:solid 0px blue;
    }
    .texto_menu2 {
        float: right;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        transition: all .5s ease 0s;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        -ms-transition: all .5s ease 0s;
        margin:0px 0px 0px 0px;
        font-weight: 700;
        border: solid 0px red;
    }

    .menu_esquerda>li>a:hover{
        color: red;
        border-bottom: 0px solid #008ed6;
    }
    .menu_direita>li>a:hover{
        color: red;
        border-bottom: 0px solid #008ed6;
    }

    /* CARROSSEU */
    header.carousel {
        margin: 9.8% 0 0 0;
        height: 65%;
        border:solid 0px red;
    }
}

/* CONFIGURAÇOES CELULARES */
@media(max-width:767px) {

    .navbar-fixed-top {
        width: 100%;
        margin:1% 0 0 0;
        background-color: #f0ad4e;
        background: rgba(225,169,0,0.6);
        border:solid 1px red;
    }

    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}