<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a class="navbar-brand" href="index.html">Start Bootstrap</a-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <div class="menu_esquerda">
                        <li>
                            <a class="texto_menu1" href="index.html">INICIO</a>
                        </li>
                        <li>
                            <a class="texto_menu2" href="empresa.html">EMPRESA</a>
                        </li>
                    </div>
                    <div class="logoIndex">
                        <a href="index.html"><img class="logo" src="./img/logo_cima.png" alt=""></a>
                    </div>
                    <div class="menu_direita">
                        <li>
                            <a class="texto_menu1" href="produtos.html">PRODUTOS</a>
                        </li>
                        <li>
                            <a class="texto_menu2" href="contato.html">CONTATO</a>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
